<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Action Window Approval Settings -->
    <record id="action_dsn_approval_purchase" model="ir.actions.act_window">
      <field name="name">Purchase Approval</field>
      <field name="type">ir.actions.act_window</field>
      <field name="res_model">dsn.approval.purchase</field>
      <field name="view_mode">tree,form</field>
    </record>
    <!-- Action Window To Approve -->
    <record id="action_dsn_to_approve_purchase_request" model="ir.actions.act_window">
      <field name="name">Purchase Request Approval</field>
      <field name="type">ir.actions.act_window</field>
      <field name="res_model">purchase.request</field>
      <field name="domain">[('state', '=', 'to_approve')]</field>
      <field name="view_mode">tree,form</field>
      <field name="context">{'search_default_assigned_to_ids': 1, 'create':False, 'delete':False}</field>
      <field name="search_view_id" ref="dsn_to_approve_view_purchase_request_search" />
    </record>
    <record id="action_dsn_to_approve_purchase_order" model="ir.actions.act_window">
      <field name="name">Purchase Order Approval</field>
      <field name="type">ir.actions.act_window</field>
      <field name="res_model">purchase.order</field>
      <field name="domain">[('state', '=', 'to approve')]</field>
      <field name="view_mode">tree,form</field>
      <field name="context">{'search_default_assigned_to_ids': 1, 'create':False, 'delete':False}</field>
      <field name="search_view_id" ref="dsn_to_approve_purchase_order_view_search"/>
    </record>
    <record id="action_dsn_to_approve_vendor_pricelist" model="ir.actions.act_window">
      <field name="name">Vendor Pricelist Approval</field>
      <field name="type">ir.actions.act_window</field>
      <field name="res_model">product.supplierinfo</field>
      <field name="domain">[('state', '=', 'waiting')]</field>
      <field name="view_mode">tree,form</field>
      <field name="context">{'search_default_assigned_to_ids': 1, 'create':False, 'delete':False}</field>
      <field name="search_view_id" ref="dsn_to_approve_product_supplierinfo_search_view"/>
    </record>
    <!-- Approval Settings Menuitem -->
    <menuitem id="menu_item_dsn_approval_setting_purchase"
                name="Purchase"
                sequence="1"
                parent="dsn_approval.menu_item_dsn_approval_setting"
                groups="dsn_approval.group_approval_manager"
                action="action_dsn_approval_purchase"/>
    <!-- To Approve Menuitem -->
    <menuitem id="menu_item_dsn_to_approve_purchase"
                name="Purchase"
                sequence="1"
                parent="dsn_approval.menu_item_dsn_to_approve">
                <menuitem id="menu_item_dsn_to_approve_purchase_request"
                        name="Purchase Request"
                        sequence="1"
                        groups="dsn_approval.group_approval_manager"
                        action="action_dsn_to_approve_purchase_request"/>
                <menuitem id="menu_item_dsn_to_approve_purchase_order"
                        name="Purchase Order"
                        sequence="2"
                        groups="dsn_approval.group_approval_manager"
                        action="action_dsn_to_approve_purchase_order"/>
                <menuitem id="menu_item_dsn_to_approve_vendor_pricelist"
                        name="Vendor Pricelist"
                        sequence="3"
                        groups="dsn_approval.group_approval_manager"
                        action="action_dsn_to_approve_vendor_pricelist"/>
    </menuitem>
</odoo>